body {
	background: url('camp.jpg') no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.photo {
	color: white;
	font-family: 'Comfortaa', sans-serif;
	font-size: 13px;
	
	padding: 8px;
	margin-top: 5px;

}



.title {
	font-family: 'Comfortaa', sans-serif;
	color: white;
	text-align: center;
}

.home {
	font-family: 'Comfortaa', sans-serif;
	background: #666768;
	
	padding: 5px;
	color: white;
	display: inline-block;

	
}

.what {
	color: white;
	font-family: 'Comfortaa', sans-serif;
	margin-left: 250px;

}

.talk {
	background: black;

	color: white;
	font-family: 'Comfortaa', sans-serif;
	margin-left: 250px;
	margin-right: 300px;
	font-size: 14px;
}

.CampPic {

	border-radius: 10%;
	position: relative;
	top: 35px;
	margin-left: auto;
	margin-right: auto;
	display: block;

}
